@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

:root {
    --secondary-background: #ebebeb;
    --primary-background: #111827;
    --text-color: #f3f4f6;
    --accent-color: #ef4444;
    --secondary-color: #22c55e;
}

body {
    background-color: var(--primary-background);
    color: var(--text-color);
}

.container {
    width: 100%;
    min-height: 100vh;
}

/* Navbar Styles */

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav-logo h1 {
    color: var(--text-color);
    font-size: 2rem;
}

.hamburger {
    background-color: var(--primary-background);
    border: none;
    cursor: pointer;
    display: none;
}
.hamburger i {
    font-size: 2rem;
    color: var(--text-color);
    padding: 1rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    display: block;
    letter-spacing: 1px;
    padding: 1rem;
    transition: all 0.3s ease;;
}

@media (min-width: 767px) {
    .nav-links a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        transition: width 0.3s ease;
        background: var(--text-color);
    }

    .nav-links a:hover::after {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--primary-background);
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
    }

    .nav-links a {
        width: 100%;
    }
    .nav-links a:hover {
        background-color: var(--secondary-background);
        color: var(--primary-background);
    }

    .nav-links.open {
        display: flex;
    }
}

/* Home Section */
.home {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-section h1 {
    font-size: 3rem;
}
.left-section h2 {
    font-size: 1.5rem;
}

.left-section .cta {
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 32px;
    font-weight: 600;
    background-color: #ff9800;
    color: var(--primary-background);
    font-size: 1.3rem;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;
}

.left-section .cta:hover {
    background-color: #f5ad28;
}